html {
  height:100%; }

body {
  height:100%
  color: #ffffff; }

#hero {
  /*background-image: url("/assets/bg.jpg");*/
  background-color: #f8f9fa;
  background-size: auto;
  background-position: 0 60%;
  }

.herofull {
    height: 100vh;}

.navbar {
  width: 100%;}
  @media (max-width: 34em) {
    .navbar {
      background: black !important; } }
  .navbar .navbar-toggler {
    cursor: pointer;
    outline: 0; }
  .navbar .nav-link {
    text-transform: uppercase;
    font-weight: bold; }
  .navbar .nav-item {
    padding: 0 1rem; }
    @media (max-width: 34em) {
      .navbar .nav-item {
        padding: 0; } }
    @media (max-width: 34em) {
      .navbar .nav-item .nav-link {
        font-weight: normal;
        color: #fff !important; } }

h1 {
  font-weight: bold;
  font-size: 3.5em;
  font-color: #ffffff; }

.hero-img {
  width: 50%; }

.feature-wrapper {
  background: #343a40;
  color: white;
  overflow:auto; }

.h4 {
  text-align: justify; }

.p {
   font-color: #3d3d3d }

.fa-github {
  color: #3d3d3d;
  text-shadow: 1px 1px 1px #ccc;
  font-size: 3em; }

.row {
  text-align: justify; }

textarea {
    width: 100%;
    height: 250px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #3d3d3d;
    color: #ffffff;
    resize: none;
}

legend {
    font-size: 12px;
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

input {
    margin: .4rem;
}

.output {
    font: 1rem 'Fira Sans', sans-serif;
}

.checkbox-inline {
    padding: 3px 6px;
}

.box {
    padding: 0 5px 0 5px;
}
.box .inner {
    background-color: #fff;
}

.rcorner {
    border-radius: 10px;
}

label {
    font-size: 14px;
}