html {
  height:100%; }

body {
  height:100%
  color: #ffffff; }

.herofull {
    width:100%;
    height:100%;
    z-index:10000;
}

a {
    color: #333333;
    font-weight: bold;
    transition: all 0.2s; }

.navbar {
  width: 100%;}
  @media (max-width: 34em) {
    .navbar {
      background: black !important; } }
  .navbar .navbar-toggler {
    cursor: pointer;
    outline: 0; }
  .navbar .nav-link {
    text-transform: uppercase;
    font-weight: bold; }
  .navbar .nav-item {
    padding: 0 1rem; }
    @media (max-width: 34em) {
      .navbar .nav-item {
        padding: 0; } }
    @media (max-width: 34em) {
      .navbar .nav-item .nav-link {
        font-weight: normal;
        color: #fff !important; } }

.logo-asknow {
    width: 80%;
    height:100%;
    margin-right: 30px;
    margin-bottom: 10px;

}

h1 {
  font-weight: bold;
  font-size: 3.5em;
  font-color: #ffffff; }

h6 {
  font-weight: bold;
  font-size: 1.0em;
  font-color: #3d3d3d; }

.hero-img {
  width: 50%; }

.feature-wrapper {
  background: #343a40;
  color: white;
  overflow:auto; }

.h4 {
  text-align: justify; }

.p {
   font-color: #3d3d3d }

.fa-github {
  color: #ffffff;
  font-size: 3em; }

.row {
  text-align: justify; }

textarea {
    width: 100%;
    height: 250px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #3d3d3d;
    color: #ffffff;
    resize: none;
}

legend {
    font-size: 12px;
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

input {
    margin: .4rem;
}

.output {
    font: 1rem 'Fira Sans', sans-serif;
}

.checkbox-inline {
    padding: 3px 6px;
}

.box {
    padding: 0 5px 0 5px;
}
.box .inner {
    background-color: #fff;
}

.rcorner {
    border-radius: 10px;
}

.searchbutton {
    border-radius: 10px;
}


label {
    font-size: 14px;
}

.a1 label {
    font-weight: bold;
}

.a1 label::after {
    content: "1";
    vertical-align: super;
    font-size: smaller;
}

.a2 label {
    font-weight: bold;
}

.a2 label::after {
    content: "2";
    vertical-align: super;
    font-size: smaller;
}

.a3 label {
    font-weight: bold;
}
.a3 label::after {
    content: "3";
    vertical-align: super;
    font-size: smaller;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.headerimages {
  height:100%;
  width:100%;
}

button.link {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    font-weight: bold;
}

.blurdiv {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}