<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <title>FRANKENSTEIN</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,800">
        <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/styleSwitcher.css">
        <link rel="stylesheet" id='mainCSS' href="/css/themes/grey.css">
        <link rel="icon" href="/img/1.png">
    </head>

    <body>
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="/">Frankenstein</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/query">Query</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/build">Build</a>
                    </li>
                    <!--<li class="nav-item">
                        <a class="nav-link" href="/new">New</a>
                    </li>-->
                    <li class="nav-item">
                        <a class="nav-link" href="/bulk">Upload</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="hero">
            <div class="container">
                <div class="row jumbotron hero-content pt-lg-6 pb-lg-6 pt-5">
                    <table class="table table-sm">
                        <tbody>
                        <tr bgcolor="#FFFFFF">
                            <td colspan="12">
                                To understand the QA process, consider the following example
                                <b><i>“What is the time zone of New York City?”</i></b>.<br>
                                An ideal QA system over DBpedia generates a formal representation of this question,
                                that is a formal query (here expressed as <a href="https://www.w3.org/TR/rdf-sparql-query/">SPARQL</a>),
                                which retrieves answers from the <a href="http://dbpedia.org/sparql">DBpedia endpoint</a>.
                                The query would look like: <b><i>SELECT ?c dbr:New_York_City dbo:timeZone ?c.</i></b>

                                During this process, a QA system performs successive QA tasks.<br>
                                In the first step (i.e. Named Entity Recognition (NER) and Named Entity Disambiguation(NED)),
                                a QA system is expected to recognise and link the entities present in the question to its candidate(s) from DBpedia
                                (i.e. mapping New York City to <a href="http://dbpedia.org/page/New_York_City">dbr:New_York_City</a>).
                                The next step is Relation Linking (RL), in which QA systems link the natural language predicate
                                to the corresponding predicate in DBpedia (i.e. mapping time zone to <a href="http://dbpedia.org/ontology/timeZone">dbo:timeZone</a>).
                                Finally, the Query Builder(QB) component obtains the linked resources and predicates from the previous steps
                                to formulate a SPARQL query.<br>
                                Sometimes it is also necessary to extract ontology classes in the question, so we have two components for the class linking task.
                                <br>
                                e.g. In the question <b><i>“Which river flows through Seoul?”</i></b>, river is a class which is expected to map to <a href="http://dbpedia.org/ontology/River">dbo:River</a>.
                            </td>
                        </tr>
                        <tr class="table-primary"><td>NER</td><td></td></tr>
                        <tr class="table-warning">
                            <td colspan="2">
                                Named Entity Recognition (NER) task involves identification (spotting) of named entities in an input question or in a sentence. If you have requirement to use available NER components, you can upload the set of questions/tweets, and get the result.
                            </td>
                        </tr>
                        <tr class="bg-info starrow">
                            <td>Component</td>
                            <td>URL</td>
                        </tr>
                        <tr>
                            <td>EarlEntityIdf</td>
                            <td><a href="http://sda.cs.uni-bonn.de/projects/earl/">http://sda.cs.uni-bonn.de/projects/earl/</a></td>
                        </tr>
                        <tr>
                            <td>TextRazor</td>
                            <td><a href="https://www.textrazor.com/named_entity_recognition">https://www.textrazor.com/named_entity_recognition</a></td>
                        </tr>
                        <tr>
                            <td>MeaningCloud</td>
                            <td><a href="https://www.meaningcloud.com/blog/named-entities-recognition-ner">https://www.meaningcloud.com/blog/named-entities-recognition-ner</a></td>
                        </tr>
                        <tr>
                            <td>EntityClassifier</td>
                            <td><a href="https://github.com/entityclassifier-eu/">https://github.com/entityclassifier-eu/</a></td>
                        </tr>
                        <tr>
                            <td>Dandelion</td>
                            <td><a href="https://dandelion.eu/semantic-text/entity-extraction-demo/">https://dandelion.eu/semantic-text/entity-extraction-demo/</a></td>
                        </tr>
                        <tr>
                            <td>TagmeNER</td>
                            <td><a href="https://tagme.d4science.org/tagme/">https://tagme.d4science.org/tagme/</a></td>
                        </tr>
                        <tr>
                            <td>AylienNER</td>
                            <td><a href="https://aylien.com/text-api/entity-extraction/">https://aylien.com/text-api/entity-extraction/</a></td>
                        </tr>
                        <tr>
                            <td>NER-DBpediaSpotlight</td>
                            <td><a href="https://www.dbpedia-spotlight.org/">https://www.dbpedia-spotlight.org/</a></td>
                        </tr>
                        <tr>
                            <td>NER-Stanford</td>
                            <td><a href="https://nlp.stanford.edu/software/CRF-NER.shtml">https://nlp.stanford.edu/software/CRF-NER.shtml</a></td>
                        </tr>
                        <tr>
                            <td>OntoTextNER</td>
                            <td><a href="https://www.ambiverse.com/about-us/">https://ontotext.com/</a></td>
                        </tr>
                        <tr>
                            <td>AmbiverseNER</td>
                            <td><a href="https://www.ambiverse.com/about-us/">https://www.ambiverse.com/about-us/</a></td>
                        </tr>
                        <tr class="table-primary"><td>NED</td><td></td></tr>
                        <tr class="table-warning">
                            <td colspan="2">
                                A NED component annotates the entities in the text and links them to the respective DBpedia resources.
                            </td>
                        </tr>
                        <tr class="bg-info starrow">
                            <td>Component</td>
                            <td>URL</td>
                        </tr>
                        <tr>
                            <td>NED-DBpediaSpotlight</td>
                            <td><a href="https://www.dbpedia-spotlight.org/">https://www.dbpedia-spotlight.org/</a></td>
                        </tr>
                        <tr>
                            <td>AylienNED</td>
                            <td><a href="https://aylien.com/text-api/entity-extraction/">https://aylien.com/text-api/entity-extraction/</a></td>
                        </tr>
                        <tr>
                            <td>EarlDisambi</td>
                            <td><a href="http://sda.cs.uni-bonn.de/projects/earl/">http://sda.cs.uni-bonn.de/projects/earl/</a></td>
                        </tr>
                        <tr>
                            <td>TagmeNED</td>
                            <td><a href="https://tagme.d4science.org/tagme/">https://tagme.d4science.org/tagme/</a></td>
                        </tr>
                        <tr>
                            <td>OntoTextNED</td>
                            <td><a href="https://ontotext.com/">https://ontotext.com/</a></td>
                        </tr>
                        <tr>
                            <td>DandelionNED</td>
                            <td><a href="https://dandelion.eu/semantic-text/entity-extraction-demo/">https://dandelion.eu/semantic-text/entity-extraction-demo/</a></td>
                        </tr>
                        <tr>
                            <td>NED-AGDISTIS</td>
                            <td><a href="http://aksw.org/Projects/AGDISTIS.html">http://aksw.org/Projects/AGDISTIS.html</a></td>
                        </tr>
                        <tr>
                            <td>MeaningCloudNed</td>
                            <td><a href="https://www.meaningcloud.com/blog/named-entities-recognition-ner">https://www.meaningcloud.com/blog/named-entities-recognition-ner</a></td>
                        </tr>
                        <tr>
                            <td>AmbiverseNed</td>
                            <td><a href="https://www.ambiverse.com/about-us/">https://www.ambiverse.com/about-us/</a></td>
                        </tr>
                        <tr class="table-primary"><td>Relation Linking</td><td></td></tr>
                        <tr class="table-warning">
                            <td colspan="2">
                                A RL component annotates natural language relation in the text and provides the associated DBpedia relation.
                            </td>
                        </tr>
                        <tr class="bg-info starrow">
                            <td>Component</td>
                            <td>URL</td>
                        </tr>
                        <tr>
                            <td>RelNliodRel</td>
                            <td>NA</td>
                        </tr>
                        <tr>
                            <td>EarlRelationLinking</td>
                            <td><a href="http://sda.cs.uni-bonn.de/projects/earl/">http://sda.cs.uni-bonn.de/projects/earl/</a></td>
                        </tr>
                        <tr>
                            <td>DiambiguationProperty</td>
                            <td>NA</td>
                        </tr>
                        <tr>
                            <td>AnnotationofSpotProperty</td>
                            <td>NA</td>
                        </tr>
                        <tr class="table-primary"><td>Class Linking</td><td></td></tr>
                        <tr class="table-warning">
                            <td colspan="2">
                                CL component tries to identify ontology class in the text, and provides the respective DBpedia class
                            </td>
                        </tr>
                        <tr class="bg-info starrow">
                            <td>Component</td>
                            <td>URL</td>
                        </tr>
                        <tr>
                            <td>ClsNliodCls</td>
                            <td>NA</td>
                        </tr>
                        <tr>
                            <td>DiambiguationClass</td>
                            <td><a href="http://www.okbqa.org/">http://www.okbqa.org/</a></td>
                        </tr>
                        <tr class="table-primary"><td>Query building</td><td></td></tr>
                        <tr class="table-warning">
                            <td colspan="2">
                                QB component needs NED and RL component to be pre-selected in order to build a SPARQL query for input question.
                            </td>
                        </tr>
                        <tr class="bg-info starrow">
                            <td>Component</td>
                            <td>URL</td>
                        </tr>
                        <tr>
                            <td>QueryBuilder</td>
                            <td><a href="https://github.com/WDAqua/Qanary-question-answering-components/tree/master/qa.qanary_component-QueryBuilder" target=\"_top\">https://github.com/WDAqua/Qanary-question-answering-components/tree/master/qa.qanary_component-QueryBuilder</a></td>
                        </tr>
                        <tr bgcolor="#FFFFFF">
                            <td colspan="12">
                                The original idea of Frankenstein is described in the paper <a href="https://dl.acm.org/citation.cfm?id=3186023">here</a>.
                                If you want to know more about Frankenstein as a resource platform, please see our another work
                                <a href="https://www.researchgate.net/profile/Kuldeep_Singh86/publication/324483296_Frankenstein_A_Platform_Enabling_Reuse_of_Question_Answering_Components/links/5acf899aaca2723a334558cd/Frankenstein-A-Platform-Enabling-Reuse-of-Question-Answering-Components.pdf"> here</a>.
                                Frankenstein integrates the components using the <a href="https://hal.archives-ouvertes.fr/hal-01637042/file/2015_12___Extendible_Vocabulary_for_Question_Answering_Systems-2.pdf">Qanary methodology</a>.
                                <br>
                                In Frankenstein, you can run a complete QA pipeline (input the question, and getting the final answer).
                                For this, you need at least a NED, a RL and a QB component.
                                With the AGDISTIS NED component, you can also select any of the 11 NER components (for AGDISTIS, one of the inputs is recognised entities),
                                and keep the same RL, and QB components.<br>
                                You may have a requirement to use independent NER, NED, RL, or a CL component as well.
                                In this case, just select a single component from any of the tasks, input your question or sentence and get the final output
                                of the component. Frankenstein’s seamless UI will allow you to get your text annotated with minimal effort.<br>
                                For example, if you got a list of 1000 tweets, in which you want to find the named entities and their respective DBpedia URLs, choose the component,
                                upload the file to Frankenstein, and download the annotated results in <b><i>.ttl</i></b> format annotated in a formal ontology.
                                Similarly you can use the platform for other tasks without any hassle.
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br><br>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
        <script src="/js/styleSwitcher.js"></script>
        <script src="/js/themer.js"></script>
    </body>
</html>