.navbar {
    background-color: rgb(77, 181, 180);
}

.navbar li a {
    color: #ffffff;
}

.feature-wrapper {
  background: rgb(77, 181, 180);
  color: #ffffff;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#hero {
  /*background-image: url("/assets/bg.jpg");*/
  background-color: #ffffff;
  background-size: auto;
  background-position: 0 60%;
}

.jumbotron {
  background-color: #B5EBE9 !important;
}