.navbar {
    background-color: rgb(77, 181, 180);
}

.nav-item a {
    color: #D3D3D3 !important;
}

.nav-item a:hover {
    color: #ffffff !important;
}

.nav-item.active a {
    color: #ffffff !important;
}

.feature-wrapper {
  background: rgb(77, 181, 180);
  color: #ffffff;
}

.linkboundary {
    border: 1px solid #ffffff;
    padding: 12px 20px;
    border-radius: 4px;
}

.teamheading{
    font-weight: bold;
    font-size: 2.0em;
    color: rgb(77, 181, 180);
    margin-top: 0 !important;
    margin-bottom: 20px !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#hero {
  /*background-image: url("/assets/bg.jpg");*/
  background-color: #ffffff;
  background-size: auto;
  background-position: 0 60%;
}

.jumbotron {
  background-color: #D3E8E4 !important;
}

.fa-file-excel-o {
  color: rgb(77, 181, 180);
}

.fa-github {
    color: #ffffff;
}

.fa-users {
    color: #ffffff;
}

.star {
    color: #ffffff;
}